<!doctype html>
<html class="fixed sidebar-left-collapsed">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>제주 스마트 주차</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
    <meta name="author" content="JSOFT.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
        integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/assets/vendor/morris/morris.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="/assets/vendor/modernizr/modernizr.js"></script>

    <!-- User CSS Libs -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/user.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.1/jsmpg.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="/javascripts/exportcsv.js"></script>

</head>

<body>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="/assets/images/logo.png" height="42" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                    data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">
                <!-- <form action="/" class="search nav-form">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form> -->
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="/assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle"
                                data-lock-picture="/assets/images/!logged-user.jpg" />
                        </figure>
                        

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/logout"><i class="fa fa-power-off"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
                        data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul id="custom_sidebar" class="nav nav-main">
                                <li id="nav-home" class="nav">
                                    <a href="/">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <!-- <li class="nav-active">
                                    <a href="/charge">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                        <span>요금징수</span>
                                    </a>
                                </li> -->
                            </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->
            <%- body %>
        </div>
        <!-- <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="sidebar-right-wrapper">
                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>
                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside> -->
    </section>

    <footer>
        <hr size="10" color="gray">
        <div style=" text-align:center; margin-left:100px; bottom:0px; padding-top:20px;">
            <!-- blahblah -->
            <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
            <a href="https://www.jeju.go.kr/" target="_blank"><img src="/images/jejudo.png" height="30" /></a>
            &nbsp;&nbsp;
            <a href="https://www.seogwipo.go.kr/" target="_blank"><img src="/images/seogwipo_blue.png"
                    height="47" /></a>
            &nbsp;&nbsp;
            <a href="http://www.jejutp.or.kr/" target="_blank"><img src="/images/jtp.png" height="50" /></a>
            &nbsp;&nbsp;
            <a href="https://www.deep-find.com/" target="_blank"><img src="/images/define.png" height="50" /></a>
            &nbsp;&nbsp;
            <a href="http://networking.khu.ac.kr/" target="_blank"><img src="/images/starlab.png" height="50" /></a>
            <br><br><span>© 2019 (주)디파인 All rights reserved.</span>
        </div>
    </footer>

    <script>
        if (window.location.pathname.substring(1, 9) == 'seogwipo' || window.location.pathname.substring(1, 9) == 'error') {
            var sidebar = '<li id="nav-seogwipo" class="nav">' +
                '<a href="http://definetestserver.iptime.org:8083/seogwipo">' +
                '<i class="fas fa-car" aria-hidden="true"></i>' +
                '<span>주차장 정보</span>' +
                '</a>' +
                '</li>' +

                '<li id="nav-enter" class="nav">' +
                '<a href="http://definetestserver.iptime.org:8083/seogwipo/enter">' +
                '<i class="fas fa-arrow-right" aria-hidden="true"></i>' +
                '<span>실시간 입차</span>' +
                '</a>' +
                '</li>' +

                '<li id="nav-exit" class="nav">' +
                '<a href="http://definetestserver.iptime.org:8083/seogwipo/exit">' +
                '<i class="fas fa-arrow-left" aria-hidden="true"></i>' +
                '<span>실시간 출차</span>' +
                '</a>' +
                '</li>' +

                '<li id="nav-history" class="nav">' +
                '<a href="http://definetestserver.iptime.org:8083/seogwipo/history">' +
                '<i class="fas fa-history" aria-hidden="true"></i>' +
                '<span>입출차기록</span>' +
                '</a>' +
                '</li>' +

                '<li id="nav-statistic" class="nav">' +
                '<a href="http://definetestserver.iptime.org:8083/seogwipo/statistic">' +
                '<i class="fas fa-chart-bar" aria-hidden="true"></i>' +
                '<span>통계</span>' +
                '</a>' +
                '</li>' +

                '<li id="nav-help" class="nav">' +
                '<a href="http://definetestserver.iptime.org:8083/seogwipo/help">' +
                '<i class="fas fa-info-circle" aria-hidden="true"></i>' +
                '<span>도움말</span>' +
                '</a>' +
                '</li>';
            $('#custom_sidebar').append(sidebar);
        }

        var specificStr = window.location.pathname.substring(0, window.location.pathname.length);
        if(specificStr == '/error'){
            $('#nav-seogwipo').attr('class', 'nav');
            $('#nav-enter').attr('class', 'nav');
            $('#nav-exit').attr('class', 'nav');
            $('#nav-history').attr('class', 'nav');
            $('#nav-statistic').attr('class', 'nav');
            $('#nav-help').attr('class', 'nav');
            $('#nav-home').attr('class', 'nav-active');
        }else{
            var str = window.location.pathname.substring(10, window.location.pathname.length);
            console.log(str);
            if (str == '') {
                $('#nav-seogwipo').attr('class', 'nav-active');
            } else {
                $('#nav-' + str).attr('class', 'nav-active');
            }
        }

        // console.log($('#'+str).attr('class'));
    </script>

    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <script src="/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.js"></script>
    <script src="/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="/assets/vendor/raphael/raphael.js"></script>
    <script src="/assets/vendor/morris/morris.js"></script>
    <script src="/assets/vendor/gauge/gauge.js"></script>
    <script src="/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <script src="/assets/vendor/owl-carousel/owl.carousel.js"></script>

    <script src="/assets/javascripts/theme.js"></script>

    <script src="/assets/javascripts/theme.custom.js"></script>

    <script src="/assets/javascripts/theme.init.js"></script>


    <script src="/assets/javascripts/dashboard/examples.dashboard.js"></script>
    <script src="/assets/javascripts/ui-elements/examples.widgets.js"></script>
    <script src="/assets/javascripts/ui-elements/examples.charts.js"></script>

    <script src="/assets/javascripts/theme.js"></script>

    <script src="/assets/javascripts/theme.custom.js"></script>

    <script src="/assets/javascripts/theme.init.js"></script>

    <script src="/assets/javascripts/forms/examples.advanced.form.js"></script>

</body>

</html>
